<ion-content class="ion-padding">
  <ion-text color="primary" class="ion-text-center ion-margin-top">
    <div class="ion-align-items-center">
      <div class="ion-margin-top">
        <ion-img src="assets/svg/logo.svg"></ion-img>
      </div>
    </div>
  </ion-text>
  <form #form="ngForm" (ngSubmit)="login(form)" method="post" class="ion-margin-top ion-padding">

    <ion-input type="email" placeholder="📧 Correo" name="email"></ion-input>

    <ion-input type="password" placeholder="🔑 Contraseña" name="password" class="ion-margin-top">
      <ion-input-password-toggle slot="end" color="main"></ion-input-password-toggle>
    </ion-input>

    <ion-button type="submit" class="ion-margin-vertical ion-margin-horizontal" expand="full" shape="round"
                color="main" size="large">Ingresar
    </ion-button>
  </form>
</ion-content>

<ion-fab slot="fixed" vertical="bottom" horizontal="end" (click)="openModal()">
  <ion-fab-button  color="light">
    <ion-icon name="settings-outline"></ion-icon>
  </ion-fab-button>
</ion-fab>
